h1{
    font-size: 15;
    font-family: cursive;
}
body{
 
 background-color: blueviolet;
  
   

}

button{
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 25%;
    border-radius: 10px;
   
}

#increment-btn{
    background-color: red;
   
}

#save-btn{
   background-color: darkcyan;
}
div{
    max-width: 100%;
  
}