* {
  box-sizing: border-box;
}
.nav{
  padding: 30px 25px;
  background-color: rgb(8, 8, 20);
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;

}
.my-facts{
  background-color: rgb(3, 12, 20);
  margin: 0;
  color: white;
  font-weight: 700;
  font-size: 20px;
  font-family: cursive;
  margin-top: 10px;
  padding: 40px 40px;


 
}


.header-title{
color: rgb(21, 137, 175);
margin-right: auto;
font-size: 30px;
}
.react-logo{
width: 40px;
height: 40px;
margin-right: 6px;
}
.header-element{


}
body{
  background-color: rgb(8, 8, 17);
  margin: 0;
  height: 100vh;
}
.my-list > li::marker{
  font-size: 1.4rem;
  color: rgb(21, 137, 175);
}