h1{
    font-size: 15;
    font-family: cursive;
}
body{
   margin-top: 50px;
   background-image: url"photos/image1.jpg" ;
   background-size: cover;
   background-repeat: no-repeat;
   

}

button{
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 25%;
    border-radius: 10px;
   
}

#increment-btn{
    background-color: blue;
   
}

#save-btn{
   background-color: darkcyan;
}